---
layout: default
---
<article class="is-child pt-4 pl-2">
	<h3 class="subtitle is-3">{{ page.title }}</h3>
	<p>{{ page.date | date_to_string }} - {{ page.author }}</p>
<article>
<br>
<article article class="tile is-child pt-2 pb-1 pl-6">
{{ content }}
</article>
<article align="center" class="has-background-white-ter">
	<br>
	<p>Check out my latest game: <a href="horsegirlgamesllc.com">Wind's Heartbeat</a></p>
	<p>And join the mailing list to stay updated! <a href="https://windsheartbeat.eo.page/wqn9f">Wind's Heartbeat mailing list</a></p>
	<br>
	<div align="center">
	    <img src="/assets/images/index-1.png" width="40%" />
	</div>
	<br>
</article>
